# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# use these in your .env files
DATABASE_URL="mysql://jesus:christ@localhost:3600/swofdeath-db"
DISCORD_TOKEN=<YOUR_DISCORD_TOKEN_BOT_TOKEN>
CHANNEL_ID=<YOUR_DISCORD_CHANNEL_ID>

# use these in your .env.local files
SECRET_KEY=<YOUR_JWT_SECRET_KEY>